*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    font-size: 16px;
}

.conteinerMax{
    display: grid;
    grid-template-columns: repeat(12, auto);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 'menu menu menu menu menu menu menu menu menu menu menu menu'
                         'img img img img img img img img img img img img'
                         'card card card card card card card card card card card card'
                         'foot foot foot foot foot foot foot foot foot foot foot foot';

}


.menu-conteiner{grid-area: menu;}
.menu-h{background-color: rgb(14, 13, 13);}

.menu-h ul{
    display: flex;
}

#li{margin-left: auto}

.menu-h ul li{
    list-style-type: none;
    padding: 15px;
    cursor: pointer;
    
}

.menu-h ul li a{
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
}

.menu-h ul li:hover{
    border-bottom: 4px solid rgb(238, 10, 10);
    
}

.pesquisa{
   display: flex;
   align-items: center;
   margin-left: 15%;
   width: 400px;
}

.pesquisa input{
    width: 100%;
    opacity: 0.7;
    padding: 3px;
    
}

/* carrossel */

.carrossel{grid-area: img;}

.carrossel{
    max-height: 450px;
    width: 100%;
    
}

.imagens{
    display: flex;
    max-height: 450px;
    width: 100%;
    position: relative;
}

.imagens img{
    object-fit: cover;
    width: 100%;
    max-height: 450px;
    position: absolute;
    transition: opacity 800ms;
}

.invisible{
    opacity: 0;
}


