*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    font-size: 16px;
}

.conteinerMax{
    display: grid;
    grid-template-columns: repeat(12, auto);
    grid-template-rows: auto auto 1fr 1fr;
    grid-template-areas: 'menu menu menu menu menu menu menu menu menu menu menu menu'
                         'img img img img img img img img img img img img'
                         'card card card card card card card card card card card card'
                         'foot foot foot foot foot foot foot foot foot foot foot foot';

}


.menu-conteiner{
    background-color:  rgb(14, 13, 13);
    grid-area: menu; 
    position: relative; 
    display: flex;
    justify-content: space-between;
}
#logo{
    color: white;
    padding: 18px;
}
.search-box{
    padding: 6px;
    display: flex;
    justify-content: center;
    height: min(100%, 45px);
    width: 400px;
    align-self: center;
    
}

.search-box input{
   outline: 0;
   border-start-start-radius: 10px;
   border-bottom-left-radius: 10px;
   width: 85%;
   border: none;
   padding: 8px;
}
.ground-icon{
    background-color: rgb(241, 0, 0);
    width: 15%;
    text-align: center;
    
}
.fa-solid.fa-magnifying-glass{
   color: white;
   transform: translateY(50%);
}

.menu-h{
    display: flex;
}
.barra{
    display: none;
}

.menu-h ul{
    display: flex;
}

.menu-h ul li{
    list-style-type: none;
    padding: 18px;
    cursor: pointer;
    
}

.menu-h ul li a{
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
}




