@media (max-width: 900px){
    .menu-conteiner{
        flex-direction: column;
        grid-area: img;
        z-index: 1;
        justify-content: flex-start;
        height: 40vh;
    }

    #logo{
        margin-top: 8px;
    }
   .search-box{
     position: absolute;
     width: 60vw;
     right: 0;
     transform: translateX(-30%);
     margin-top: 8px;
   }
   
   .menu-h ul{
     flex-direction: column;
     
   }
   .barra{
    display: block;
    position: absolute;
    right: 5%;
    margin-top: 24px;
   }
   .menu-h{
    background-color: rgb(14, 13, 13);
   }
}